@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript/DancingScript-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #2f4f4f;
    --accent-color: #f5f5dc;
    --text-color: #333;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.en {
    font-family: "Dancing Script";
}

body {
    background-image: url("../img/pick-up-menu-page-background.jpg");
    background-size: cover;
    backdrop-filter: brightness(75%);
    color: var(--accent-color);
}

.site-logo {
    position: fixed;
    bottom: 10px;
    left: 15px;
    width: fit-content;
    height: 50px;
    background-color: #000;
    color: var(--accent-color);
    padding: 5px 15px;
    line-height: 1.4;
    font-family: "Dancing Script";
    font-size: 1.7rem;
    opacity: 0.7;
    z-index: 9999;
}
.site-logo a {
    color: var(--accent-color);
}

#header {
    background: linear-gradient(180deg, #000 0%, #000000f0 55%, #00000050 calc(100% - 25px), #00000000 100%);
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 50px;
    padding: 50px 0 120px 0;
    opacity: 0.7;
}
#header h1,
#header p {
    word-break: auto-phrase;
    opacity: 1;
}

#header h1 {
    margin-bottom: 25px;
}


#main {
    padding: 0 4% 120px 4%;
}

#menu .menu__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

#menu .menu__item .img-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    filter: brightness(80%) drop-shadow(10px 5px #000);
    margin-bottom: 25px;
}
#menu .menu__item .img-wrapper img {
    border-radius: 50%;
}

#menu .menu__item .text-wrapper {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    mix-blend-mode: difference;
    text-shadow: 1px 1px #000;
}
#menu .menu__item .text-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

#menu .menu__item .text-wrapper .menu__item-title {
    padding: 10px 0;
}

#menu .menu__item .text-wrapper .menu__item-detail {
    padding: 20px 15px;
}
