/* sp first */
/*
    sp < 481px < tablet < 960px < pc
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2f4f4f;
    --accent-color: #f5f5dc;
    --text-color: #333;
}

body {
    background-color: #fff;
    color: var(--text-color);
    font-family: "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}


#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
    padding: 30px 4% 0 4%;
}

#header .site-logo {
    width: fit-content;
    height: 50px;
    background-color: #000;
    color: var(--accent-color);
    padding: 5px 15px;
    line-height: 1.4;
}

#header #global-nav {
    width: 100%;
    height: fit-content;
    margin: auto 0 0 0;
    padding: 0 0 15px 0;
}
#header #global-nav ul {
    width: 100%;
    display: flex;
}
#header #global-nav ul li {
    display: flex;
    width: calc(100% / 3);
}

#header #global-nav a {
    color: var(--accent-color);
    margin: auto;
}


#hero {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url("../img/main-visual.jpg");
    background-position: 50% calc(50% - 120px);
    background-size: cover;
}
@media screen and (max-width: 600px) {
    #hero {
        background-position: center;
    }
}
