/* sp first */
/*
    sp < 481px < tablet < 960px < pc
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2f4f4f;
    --accent-color: #f5f5dc;
    --font-color: #333;
}


body {
    background-color: #fff;
    font-family: "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
}
