/* sp first */
/*
    sp < 481px < tablet < 960px < pc
*/

@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript/DancingScript-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2f4f4f;
    --accent-color: #f5f5dc;
    --text-color: #333;
}

body {
    background-color: #fff;
    color: var(--text-color);
    font-family: "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
    line-height: 1.8;
    letter-spacing: 0.1rem;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.en {
    font-family: "Dancing Script";
}


#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
    background-color: var(--main-color);
    padding: 30px 4%;
}

#header .site-logo {
    width: fit-content;
    height: 50px;
    background-color: #000;
    color: var(--accent-color);
    padding: 5px 15px;
    line-height: 1.4;
    font-family: "Dancing Script";
}
#header .site-logo a {
    color: var(--accent-color);
}

#header #hamburger-menu-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px #000 solid;
    margin: 0 0 0 auto;
    z-index: 10;
}
#header #hamburger-menu-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 0;
    border: 1px solid var(--accent-color);
    transition: all 0.3s;
}
#header #hamburger-menu-btn span:first-of-type {
    transform: translate(-50%, -10px);
}
#header #hamburger-menu-btn span:nth-last-of-type(2) {
    transform: translate(-50%, 0);
}
#header #hamburger-menu-btn span:last-of-type {
    transform: translate(-50%, 10px);
}
#header #hamburger-menu-btn.open span:first-of-type {
    transform: translate(-50%, 0) rotateZ(45deg);
}
#header #hamburger-menu-btn.open span:nth-of-type(2) {
    width: 0;
}
#header #hamburger-menu-btn.open span:last-of-type {
    transform: translate(-50%, 0) rotateZ(-45deg);
}

#header #global-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 0 0 15px 0;
    transition: all 0.3s;
}
#header #global-nav.open {
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 5;
}
#header #global-nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;
}
#header #global-nav ul li {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    font-size: 1.5rem;
}

#header #global-nav a {
    color: var(--accent-color);
    margin: auto;
}


#hero {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("../img/main-visual.jpg");
    background-position: 50% calc(50% - 120px);
    background-size: cover;
}
@media screen and (max-width: 600px) {
    #hero {
        background-position: center;
    }
}
#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000000f;
    background:
        linear-gradient(0deg, #00000055, #00000000, #00000055),
        linear-gradient(90deg, #00000022, #00000000, #00000022)
    ;
}

#hero #hero-title {
    text-align: center;
    text-shadow: #000 1px 2px;
    color: var(--accent-color);
    margin: auto;
    z-index: 1;
}


.section-header {
    display: flex;
    padding: 100px 0 50px 0;
}
.section-header .section-title {
    margin: 0 auto;
    font-family: "Dancing Script";
    font-weight: bold;
}

.content {
    width: 100%;
}

.content-title {
    height: 150px;
    padding-top: 50px;
    font-size: 1.5rem;
    color: var(--text-color);
    text-shadow: #ffd70077 1px 2px;
    text-align: center;
}

#about .about__content {
    display: flex;
    flex-direction: column;
}

#about .about__img-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh / 2);
}

#about .about__text-wrapper {
    width: 100%;
    min-height: calc(100vh - 300px);
    text-align: center;
    padding: 25px 0 25px 0;
}

#about .about__text-wrapper p {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10%;
}


#menu-plan__pick-up-wrapper {
    display: flex;
    height: calc(100vh - 150px);
    align-items: center;
    overflow: hidden;
}

.menu-plan__pick-up-slideshow {
    display: flex;
    height: 100%;
    animation: pick-up-loop-slide 20s infinite linear 1s both;
}
.menu-plan__pick-up-slideshow.stop {
    animation-play-state: paused;
}
@keyframes pick-up-loop-slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.menu-plan__pick-up-slideshow .menu-plan__pick-up-item {
    width: 500px;
    max-width: 100vw;
    flex-shrink: 0;
    transition: all 0.3s;
}
.menu-plan__pick-up-item:hover {
    width: 510px;
    height: calc(100% + 10px);
}

.menu-plan__pick-up-item a {
    display: block;
    width: 100%;
    height: 100%;
}
.menu-plan__pick-up-item .img-wrapper {
    height: calc(100% - 60px);
}
.menu-plan__pick-up-item p {
    height: 30px;
    text-align: center;
}
.menu-plan__pick-up-item p.en {
    font-weight: bold;
}


#menu-plan #fee-table-wrapper {
    max-width: 1200px;
    background-color: var(--main-color);
    color: var(--accent-color);
    margin: 0 auto;
    padding: 20px 15px;
    overflow-x: auto;
}

#menu-plan table {
    min-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

#menu-plan table tbody tr td:first-of-type {
    text-align: center;
}

#menu-plan table th,
#menu-plan table td {
    margin-bottom: 15px;
    padding: 5px 15px;
    border: 1px solid #000;
}

#menu-plan table ul {
    list-style-type: disc;
    list-style-position: inside;
}


#access__google-map {
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 3 / 2;
}

#access dl {
    padding: 50px 10%;
}
#access dl > div {
    margin-bottom: 20px;
}
#access dl dt {
    font-weight: bold;
}


#footer {
    background-color: var(--main-color);
    color: var(--accent-color);
    text-align: center;
    padding: 15px 0 5px 0;
}

#footer #sns {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

#footer .sns-icon {
    width: 50px;
    height: fit-content;
    filter: invert(0.75);
}

#footer .back-to-top-btn {
    padding: 15px 0;
}

#footer .back-to-top-btn a {
    color: var(--accent-color);
}

#footer #copy-right {
    font-size: 0.75rem;
}
