/* sp first */
/*
    sp < 481px < tablet < 960px < pc
*/

@media screen and (min-width: 481px) {
    #header {
        flex-direction: column;
        height: 150px;
        padding: 30px 4% 0 4%;
    }

    #header #global-nav {
        display: block;
    }
}

@media screen and (min-width: 960px) {

}