/* sp first */
/*
    sp < 481px < tablet < 960px < pc
*/

@media screen and (min-width: 481px) {
    #header {
        flex-direction: column;
        height: 150px;
        padding: 30px 4% 0 4%;
    }
    #hero {
        height: calc(100vh - 150px);
    }

    #header #hamburger-menu-btn {
        display: none;
    }

    #header #global-nav {
        position: relative;
        left: 0;
        width: 100%;
        height: fit-content;
        margin: auto 0 0 0;
        padding: 0 0 15px 0;
    }
    #header #global-nav ul {
        flex-direction: row;
        padding: 0;
    }
    #header #global-nav ul li {
        width: calc(100% / 3);
        font-size: 0.7rem;
        margin-bottom: 0;
    }

    /* マウス操作のスクロール速度を考慮して、sticky直下の要素のpadding-topを大きくとる */
    #about .about__text-wrapper {
        padding: 150px 0 25px 0;
    }
}

@media screen and (min-width: 960px) {

}